<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link crossorigin="anonymous" href="https://assets-cdn.github.com/assets/frameworks-cf3f50c9d690a8f5e3f37bdcac4a6e22275a3954397f954bfaefcec65676e87d.css" integrity="sha256-zz9QydaQqPXj83vcrEpuIidaOVQ5f5VL+u/OxlZ26H0=" media="all" rel="stylesheet" />
    <link crossorigin="anonymous" href="https://assets-cdn.github.com/assets/github-8c445cc0a4a50ab25b19f971f4ae6d4464611129892b42822faf5062651a8208.css" integrity="sha256-jERcwKSlCrJbGflx9K5tRGRhESmJK0KCL69QYmUaggg=" media="all" rel="stylesheet" />
	<title>{{ page.title }}</title>
</head>
<body>

	{{ content }}

</body>
</html>
